@{
    ViewData["Title"] = "Eastern Conference";
}

<div class="container">
    <div class="row header">
        <div class="col-6" align="center">
            <b>Atlantic</b>
        </div>
        <div class="col-6" align="center">
            <b>Metropolitan</b>
        </div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="BOS"><img src="~/Images/Eastern/Atlantic/Boston_Bruins_logo.svg.png" width="115px" height="115px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="BUF"><img src="~/Images/Eastern/Atlantic/Buffalo_Sabres_logo.svg.png" width="115px" height="115px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="DET"><img src="~/Images/Eastern/Atlantic/Detroit_Red_Wings_logo.svg.png" width="134px" height="99px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="CAR"><img src="~/Images/Eastern/Metropolitan/Carolina_Hurricanes_logo.svg.png" width="149px" height="89px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="CBJ"><img src="~/Images/Eastern/Metropolitan/Columbus_Blue_Jackets_logo.svg.png" width="124px" height="107px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="NJD"><img src="~/Images/Eastern/Metropolitan/New_Jersey_Devils_logo.svg.png" width="114px" height="116px" /></a></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="BOS">Bruins</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="BUF">Sabres</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="DET">Red Wings</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="CAR">Hurricanes</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="CBJ">Blue Jackets</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="NJD">Devils</a></b></p></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="FLA"><img src="~/Images/Eastern/Atlantic/Florida_Panthers_logo.svg.png" width="109px" height="122px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="MTL"><img src="~/Images/Eastern/Atlantic/Montreal_Canadiens_logo.svg.png" width="139px" height="95px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="OTT"><img src="~/Images/Eastern/Atlantic/Ottawa_Senators_logo.svg.png" width="129px" height="103px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="NYI"><img src="~/Images/Eastern/Metropolitan/New_York_Islanders_logo.svg.png" width="117px" height="113px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="NYR"><img src="~/Images/Eastern/Metropolitan/New_York_Rangers_logo.svg.png" width="117px" height="113px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="PHI"><img src="~/Images/Eastern/Metropolitan/Philadelphia_Flyers_logo.svg.png" width="138px" height="96px" /></a></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="FLA">Panthers</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="MTL">Canadiens</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="OTT">Senators</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="NYI">Islanders</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="NYR">Rangers</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="PHI">Flyers</a></b></p></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="TBL"><img src="~/Images/Eastern/Atlantic/Tampa_Bay_Lightning_logo.svg.png" width="119px" height="111px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="TOR"><img src="~/Images/Eastern/Atlantic/Toronto_Maple_Leafs_logo.svg.png" width="109px" height="122px" /></a></div>
        <div class="col-2" align="center"></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="PIT"><img src="~/Images/Eastern/Metropolitan/Pittsburgh_Penguins_logo.svg.png" width="119px" height="112px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="WSH"><img src="~/Images/Eastern/Metropolitan/Washington_Capitals_logo.svg.png" width="143px" height="93px" /></a></div>
        <div class="col-2" align="center"></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="TBL">Lightning</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="TOR">Maple Leafs</a></b></p></div>
        <div class="col-2" align="center"><p></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="PIT">Penguins</a></b></p></div>
        <div class="col-2" align="center"><p><b><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="WSH">Capitals</a></b></p></div>
        <div class="col-2" align="center"><p></p></div>
    </div>
</div>
