@{
    ViewData["Title"] = "Western Conference";
}

<div class="container">
    <div class="row header">
        <div class="col-6" align="center">
            <b>Central</b>
        </div>
        <div class="col-6" align="center">
            <b>Pacific</b>
        </div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="ARI" asp-route-TeamId="28"><img src="~/Images/Western/Central/Arizona_Coyotes_logo.svg.png" width="110px" height="121px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="CHI" asp-route-TeamId="11"><img src="~/Images/Western/Central/Chicago_Blackhawks_logo.svg.png" width="123px" height="108px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="COL" asp-route-TeamId="27"><img src="~/Images/Western/Central/Colorado_Avalanche_logo.svg.png" width="128px" height="104px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="ANA" asp-route-TeamId="32"><img src="~/Images/Western/Pacific/Anaheim_Ducks_logo.svg.png" width="153px" height="87px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="CGY" asp-route-TeamId="21"><img src="~/Images/Western/Pacific/Calgary_Flames_logo.svg.png" width="125px" height="107px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="EDM" asp-route-TeamId="25"><img src="~/Images/Western/Pacific/Edmonton_Oilers_logo.svg.png" width="130px" height="130px" /></a></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="ARI" asp-route-TeamId="28">Coyotes</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="CHI" asp-route-TeamId="11">Blackhawks</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="COL" asp-route-TeamId="27">Avalanche</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="ANA" asp-route-TeamId="32">Ducks</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="CGY" asp-route-TeamId="21">Flames</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="EDM" asp-route-TeamId="25">Oilers</a></b></p></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="DAL" asp-route-TeamId="15"><img src="~/Images/Western/Central/Dallas_Stars_logo.svg.png" width="127px" height="105px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="MIN" asp-route-TeamId="37"><img src="~/Images/Western/Central/Minnesota_Wild_logo.svg.png" width="143px" height="93px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="NSH" asp-route-TeamId="34"><img src="~/Images/Western/Central/Nashville_Predators_logo.svg.png" width="151px" height="88px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="LAK" asp-route-TeamId="14"><img src="~/Images/Western/Pacific/Los_Angeles_Kings_logo.svg.png" width="89px" height="106px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="SJS" asp-route-TeamId="29"><img src="~/Images/Western/Pacific/San_Jose_Sharks_logo.svg.png" width="126px" height="105px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="SEA" asp-route-TeamId="39"><img src="~/Images/Western/Pacific/Seattle_Kraken_logo.svg.png" width="103px" height="129px" /></a></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="DAL" asp-route-TeamId="15">Stars</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="MIN" asp-route-TeamId="37">Wild</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="NSH" asp-route-TeamId="34">Predators</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="LAK" asp-route-TeamId="14">Kings</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="SJS" asp-route-TeamId="29">Sharks</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="SEA" asp-route-TeamId="39">Kraken</a></b></p></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="STL" asp-route-TeamId="18"><img src="~/Images/Western/Central/St._Louis_Blues_logo.svg.png" width="129px" height="103px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="WPG" asp-route-TeamId="35"><img src="~/Images/Western/Central/Winnipeg_Jets_logo.svg.png" width="130px" height="130px" /></a></div>
        <div class="col-2" align="center"></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="VAN" asp-route-TeamId="20"><img src="~/Images/Western/Pacific/Vancouver_Canucks_logo.svg.png" width="118px" height="113px" /></a></div>
        <div class="col-2" align="center"><a asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="VGK" asp-route-TeamId="38"><img src="~/Images/Western/Pacific/Vegas_Golden_Knights_logo.svg.png" width="99px" height="134px" /></a></div>
        <div class="col-2" align="center"></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="STL" asp-route-TeamId="18">Blues</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="WPG" asp-route-TeamId="35">Jets</a></b></p></div>
        <div class="col-2" align="center"><p></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="VAN" asp-route-TeamId="20">Canucks</a></b></p></div>
        <div class="col-2" align="center"><p><b><a class="black-link black-link:hover" asp-controller="Stats" asp-action="TeamStats" asp-route-TeamName="VGK" asp-route-TeamId="38">Golden Knights</a></b></p></div>
        <div class="col-2" align="center"><p></p></div>
    </div>
</div>
