@{
    ViewData["Title"] = "Western Conference";
}

<div class="container">
    <div class="row header">
        <div class="col-6" align="center">
            <b>Central</b>
        </div>
        <div class="col-6" align="center">
            <b>Pacific</b>
        </div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><img src="~/Images/Western/Central/Arizona_Coyotes_logo.svg.png" width="110px" height="121px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Central/Chicago_Blackhawks_logo.svg.png" width="123px" height="108px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Central/Colorado_Avalanche_logo.svg.png" width="128px" height="104px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Pacific/Anaheim_Ducks_logo.svg.png" width="153px" height="87px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Pacific/Calgary_Flames_logo.svg.png" width="125px" height="107px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Pacific/Edmonton_Oilers_logo.svg.png" width="130px" height="130px" /></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b>Coyotes</b></p></div>
        <div class="col-2" align="center"><p><b>Blackhawks</b></p></div>
        <div class="col-2" align="center"><p><b>Avalanche</b></p></div>
        <div class="col-2" align="center"><p><b>Ducks</b></p></div>
        <div class="col-2" align="center"><p><b>Flames</b></p></div>
        <div class="col-2" align="center"><p><b>Oilers</b></p></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><img src="~/Images/Western/Central/Dallas_Stars_logo.svg.png" width="127px" height="105px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Central/Minnesota_Wild_logo.svg.png" width="143px" height="93px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Central/Nashville_Predators_logo.svg.png" width="151px" height="88px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Pacific/Los_Angeles_Kings_logo.svg.png" width="89px" height="106px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Pacific/San_Jose_Sharks_logo.svg.png" width="126px" height="105px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Pacific/Seattle_Kraken_logo.svg.png" width="103px" height="129px" /></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b>Stars</b></p></div>
        <div class="col-2" align="center"><p><b>Wild</b></p></div>
        <div class="col-2" align="center"><p><b>Predators</b></p></div>
        <div class="col-2" align="center"><p><b>Kings</b></p></div>
        <div class="col-2" align="center"><p><b>Sharks</b></p></div>
        <div class="col-2" align="center"><p><b>Kraken</b></p></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><img src="~/Images/Western/Central/St._Louis_Blues_logo.svg.png" width="129px" height="103px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Central/Winnipeg_Jets_logo.svg.png" width="130px" height="130px" /></div>
        <div class="col-2" align="center"></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Pacific/Vancouver_Canucks_logo.svg.png" width="118px" height="113px" /></div>
        <div class="col-2" align="center"><img src="~/Images/Western/Pacific/Vegas_Golden_Knights_logo.svg.png" width="99px" height="134px" /></div>
        <div class="col-2" align="center"></div>
    </div>
    <div class="row">
        <div class="col-2" align="center"><p><b>Blues</b></p></div>
        <div class="col-2" align="center"><p><b>Jets</b></p></div>
        <div class="col-2" align="center"><p></p></div>
        <div class="col-2" align="center"><p><b>Canucks</b></p></div>
        <div class="col-2" align="center"><p><b>Golden Knights</b></p></div>
        <div class="col-2" align="center"><p></p></div>
    </div>
</div>
